<!-- header for box office D3 bar chart -->
<div class="chart_header"><h3>BOX OFFICES GROSSES</h3>
<!-- d3 box office bar chart -->
  <div class="chart"></div>
    <div class="btn_contain">
      <div class="bar_btns">
        <button type="button" class="btn btn-default" id="total">Total</button>
        <button type="button" class="btn btn-default" id="domestic">Domestic</button>
        <button type="button" class="btn btn-default" id="international">International</button>
      </div>
      <div id="triangle_down2"></div> <!--  triange at bottom of div -->
    </div>
</div>