<!-- D3 pie chart for budgets -->

<div class="pie_chart">
  <h2 class="budget_header">Movie Budgets</h2>
</div>
<div class="budget_btns">
  <div class="radio">
    <input type="radio" name="dataset" value="topData" checked><label>Highest Budget</label>
  </div>
  <div class="radio">
    <input type="radio" name="dataset" value="botData"><label>Lowest Budget</label>
  </div>
</div>